.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.link {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-decoration: none;
  color: black;
  
}

.link p {
  color: gray;
  font-size: 20px;
  text-align: start;
}

.linkText {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 50px;
}

/* BEER PAGE */

.singleBeer {
  
  display: flex;
  
  margin: 70px 10px;
  flex-wrap: nowrap;
  
 
}

.beerImage img{
  width: 60px;
  
}

.beerText {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-size: 10px;
  margin-left: 20px;
  
}

.beerText h2 {
  color: gray;
  
}



.singleBeerLink {
  text-decoration: none;
  color: black;
}

/* RANDOM PAGE */

.randomBeer {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 10px;
  margin-right: 10px;
}

.randomBeerImage img {
  width: 60px;
  
}

.randomBeerName {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: none;
}

.randomBeerName h2 {
  color: gainsboro;
}

.randomBeerTagline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1px;
}

.randomBeerTagline h3 {
  color: gray;
}

.randomBeerDescription {
  margin: 0px;
  text-align: start;
  font-size: 12px;
}

.randomBeerDescription h4 {
  color: gray;
}